<div class="jumbotron text-center">
	<h1>All Records</h1>
	<a href="#" onclick="exportTableToCSV('records_data.csv')" class="btn btn-lg btn-danger" >
		Export to CSV
	</a>
</div>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Device_EUI</th>
			<th>Date</th>
			<th>Time</th>
			<th>Pressure</th>
			<th>Temperature</th>
			<th>Huminity</th>
		</tr>
	</thead>

	<tbody>
		<% for (var data of datas) {%>
			<tr>
				<td><%= data.Device_EUI %> 	</td>
				<td><%= data.timestamp.date  %></td>
				<td><%= data.timestamp.time  %></td>
				<% if (typeof data.pressure != 'undefined') { %>
					<td><%= data.pressure.value %> </td>
				<% } else { %>
					<td><%= ' Undefined' %>	</td>
				<% } %>

				<% if (typeof data.temperature != 'undefined') { %>
					<td><%= data.temperature.value %> </td>
				<% } else { %>
					<td><%=  'Undefined' 	%></td> 
					<% } %>

				<% if (typeof data.humidnity != 'undefined') { %>
					<td><%= data.humidnity.value %> </td>
				<% } else { %>
					<td><%=  'Undefined' 	%></td> 
					<% } %>				
			</tr>
		<% } %>
	</tbody>
</table>