<div class="jumbotron text-center">
	<h1>All Records</h1>
	<a href="#" onclick="exportTableToCSV('members.csv')" class="btn btn-lg btn-danger" >
		Export to CSV
	</a>
</div>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Device_EUI</th>
			<th>Pressure</th>
			<th>Temperature</th>
			<th>Huminity</th>
		</tr>
	</thead>

	<tbody>
		<% for (var data of datas) {%>
			<tr>
				<td><%= data.Device_EUI %> 	</td>
				<% if (typeof data.timestamp != 'undefined') { %>
					<td><%= data.timestamp.time %> </td>
				<% } else { %>
					<td><%= ' Undefined' %>	</td>
				<% } %>

				<% if (typeof data.temperature != 'undefined') { %>
					<td><%= data.temperature.value %> </td>
				<% } else { %>
					<td><%=  'Undefined' 	%></td> 
					<% } %>

				
			</tr>
		<% } %>
	</tbody>
</table>